@{
    ViewData["Title"] = "Home Page";
    ViewData["Title"] = "Authors";
    ViewData["Title"] = "Books";

    
}

<div class="text-center">
    <h1 class="display-4"> Керуйте своєю бібліотекою легко</h1>
   
    <p>Цей застосунок дозволяє вам зручно керувати авторами та книгами.</p>

    <h4>Можливості:</h4>
    <ul class="text-left" style="display: inline-block; text-align: left;">
        <li><strong>Керування авторами:</strong> <br />
            Ви можете створювати нових авторів, оновлювати їхню інформацію та видаляти записи за потреби. Кожен автор може бути пов'язаний з кількома книгами.</li>
        <li><strong>Керування книгами:</strong> <br />
            Додавайте нові книги з деталями, такими як назва, жанр, кількість сторінок, і призначайте їх наявним авторам. Також ви можете оновлювати чи видаляти книги.</li>
        <li><strong>Зв'язок між авторами та книгами:</strong> <br />
            Кожна книга асоціюється з певним автором, і ви легко можете переглянути всі книги, написані певним автором.</li>
    </ul>

    <p><strong>Розділ авторів:</strong> <a href="http://localhost:5244/Authors">Керуйте авторами та їхніми книгами тут</a></p>
    <p><strong>Розділ книг:</strong> <a href="http://localhost:5244/Books">Керуйте книгами та призначайте їх авторам тут</a></p>
</div>
