@{
    ViewData["Title"] = "Політика конфіденційності";
}
<h1>@ViewData["Title"]</h1>

<h2></h2>

<h3>1. Збір інформації</h3>
<p>Ми збираємо особисту інформацію про користувачів лише тоді, коли це необхідно для надання послуг додатку. Зокрема, ми можемо збирати такі дані:</p>
<ul>
    <li>Ім'я та прізвище користувача;</li>
    <li>Адреса електронної пошти;</li>
    <li>Контактна інформація (наприклад, номер телефону);</li>
    <li>Інші дані, що стосуються користування додатком, зокрема обробка авторів та книг.</li>
</ul>

<h3>2. Використання інформації</h3>
<p>Інформація, яку ми збираємо, використовується для таких цілей:</p>
<ul>
    <li>Надання доступу до функцій додатку, включаючи управління книгами та авторами;</li>
    <li>Покращення якості наших послуг;</li>
    <li>Відповідь на запити або проблеми користувачів.</li>
</ul>

<h3>3. Захист інформації</h3>
<p>Ми забезпечуємо необхідні технічні та організаційні заходи для захисту персональних даних від несанкціонованого доступу, зміни, розкриття або знищення.</p>

<h3>4. Передача даних третім сторонам</h3>
<p>Ми не передаємо особисті дані користувачів третім сторонам без їхньої згоди, за винятком випадків, коли це вимагається законом або для забезпечення функціонування додатку.</p>

<h3>5. Ваші права</h3>
<p>Користувачі мають право:</p>
<ul>
    <li>Запитувати доступ до своїх персональних даних;</li>
    <li>Вносити зміни у свої персональні дані;</li>
    <li>Вимагати видалення своїх персональних даних.</li>
</ul>

<h3>6. Зміни до Політики конфіденційності</h3>
<p>Ми залишаємо за собою право оновлювати цю політику конфіденційності в будь-який час. Усі зміни будуть опубліковані на цій сторінці.</p>

<h3>7. Контакти</h3>
<p>Якщо у вас є питання або занепокоєння щодо цієї політики конфіденційності, ви можете звернутися до нас за адресою електронної пошти: yana.mak89@gmail.com.</p>