@model LibraryManagerApp.Models.Author

<h2>Редагування автора</h2>
<form asp-action="Edit" method="post">
    <div>
        <label>Призвище</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>   
    <div>
        <label>Імʼя</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div>
        <label>По батькові</label>
        <input asp-for="MiddleName" class="form-control" />
    </div>
    <div>
        <label>Дата народження</label>
        <input asp-for="DateOfBirth" type="date" class="form-control" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Оновити</button>
</form>

@section Scripts{
    <partial name = "_ValidationScriptsPartial"/>
}